<div class="col-md-12">
   <h1> 我的评论 </h1>

   <table class="table table-hover">
     <thead>
         <%  @posts.each do |post| %>
      <tr>
         <th><%= post.content %></th>
         <th><%= post.updated_at %></th>
         <th>
             <%= link_to "Edit", edit_group_post_path(post.group ,post), class: "btn btn-info btn-xs" %> |
             <%= link_to "Delete", group_post_path(post.group, post),data: {disable_with: "Submiting..."}, method: :delete, class: "btn btn-warning btn-xs"%>
         </th>
       </tr>
     </thead>
     <% end %>
   </table>
</div>
